<!DOCTYPE html>
<html>

<head>
    <title>Maxwell Analytics Dashboard</title>
</head>

<body>

    <style>

        .container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }


        .timeline {
            flex-grow: 2;
        }


        @media screen and (min-width: 480px) {
            .container{
                display: block;
            }
        }
    </style>

    <!-- Create the containing elements. -->

    <section id="view-selector"></section>
    <div class="container">
        <figure><div id="chart-1-container" class="timeline"></div></figure>
        <figure><div id="chart-2-container"></div></figure>
    </div>

    <!-- Load the Google Analytics javascript library. -->
    <script>
        (function (w, d, s, g, js, fjs) {
            g = w.gapi || (w.gapi = {}); g.analytics = { q: [], ready: function (cb) { this.q.push(cb) } };
            js = d.createElement(s); fjs = d.getElementsByTagName(s)[0];
            js.src = 'https://apis.google.com/js/platform.js';
            fjs.parentNode.insertBefore(js, fjs); js.onload = function () { g.load('analytics') };
        }(window, document, 'script'));
    </script>

    <!-- Render the dashboard components. -->
    <script>
        gapi.analytics.ready(function () {


            // Authorize the user with an access token obtained server side.
            var ACCESS_TOKEN = '{{ ACCESS_TOKEN }}'

            gapi.analytics.auth.authorize({
                serverAuth: {
                    access_token: ACCESS_TOKEN
                }
            });

            var viewSelector = new gapi.analytics.ViewSelector({
                container: 'view-selector',
                'options': {
                        'width': '100%'
                    }
            });
            viewSelector.execute();

            /**
             * Creates a new DataChart instance showing sessions over the past 30 days.
             * It will be rendered inside an element with the id "chart-1-container".
             */
            var dataChart1 = new gapi.analytics.googleCharts.DataChart({
                query: {
                    //'ids': 'ga:113720850', // <-- Replace with the ids value for your view.
                    'start-date': '30daysAgo',
                    'end-date': 'yesterday',
                    'metrics': 'ga:sessions,ga:users',
                    'dimensions': 'ga:date'
                },
                chart: {
                    'container': 'chart-1-container',
                    'type': 'LINE',
                    'options': {
                        'width': '100%'
                    }
                }
            });
            dataChart1.execute();


            /**
             * Creates a new DataChart instance showing top 5 most popular demos/tools
             * amongst returning users only.
             * It will be rendered inside an element with the id "chart-3-container".
             */
            var dataChart2 = new gapi.analytics.googleCharts.DataChart({
                query: {
                    //'ids': 'ga:113720850', // <-- Replace with the ids value for your view.
                    'start-date': '30daysAgo',
                    'end-date': 'yesterday',
                    'metrics': 'ga:pageviews',
                    'dimensions': 'ga:pagePathLevel1',
                    'sort': '-ga:pageviews',
                    'filters': 'ga:pagePathLevel1!=/',
                    'max-results': 7
                },
                chart: {
                    'container': 'chart-2-container',
                    'type': 'PIE',
                    'options': {
                        'width': '100%',
                        'pieHole': 4 / 9,
                    }
                }
            });
            dataChart2.execute();

            viewSelector.on('change', function (ids) {
                var newIds = {
                    query: {
                        ids: ids
                    }
                }
                dataChart2.set(newIds).execute();
                dataChart1.set(newIds).execute();
            });
        });
    </script>
</body>

</html>